*{
margin:0;
padding:0;
box-sizing:border-box;
outline: none;
}
.container{
max-width: 1140px;
margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul,ol{
    list-style: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.justify-content{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}

header{
    background-color: black;
}

header .logo img{
    width: 90px;
}
.profile{
    width: 50px;
    height: 50px;
    background-color: #1366d6;
    border-radius: 100%; 
    display: none;   
}
.headerbtn button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #1366d6;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
}
.headerbtn button a{
    color: white;
}
.visible{
    display: block;
}
.display{
    display: none;
}
header nav ul li{
    padding: 0px 10px;
}

header nav ul li a{
    color: white;
    text-transform: capitalize;
}



                        /* SIGNUP PAEG DESIGN CSS */

.signup-box{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: rgba(240, 248, 255, 0.479);
    backdrop-filter: blur(10px);
}

.signup-content, .signup-img{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    position: relative;
}
.signup-img img{
    position: absolute;
    width: 100%;
}
.signup-img h1{
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 35%;
}
.signup-content h1{
    position: absolute;
    top: 30px;
    left: 28%;
    text-transform: capitalize;
}
/* #signup{
width: 200px;
height: 300px;
background-color: antiquewhite;
margin: auto;
margin-top: 90px;
}
#signup input{
    width: 100%;
    padding: 6px 20px;    
}
#signup .singup-input{
    position: relative;
}
.singup-input label{
    position: absolute;
    top: 5px;
    left: 10px;
    color: aqua;
    pointer-events: none;
}

.singup-input #title:focus ~ label{
    color: red;
} */
#signup{
    width: 300px;
    /* background-color: transparent; */
    /* backdrop-filter: blur(40px); */
    margin: auto;
    margin-top: 80px;
}
#signup input{
    width: 85%;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 100px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    box-shadow: 0px 0px 20px rgba(160, 158, 158, 0.2);
}


#signup .inputbox{
    position: relative;
}

.inputbox span{
    position: absolute;
    left: 40px;
    top: 18px;
    text-transform: uppercase;
    transition: all 0.3s;
    text-transform: capitalize;
    pointer-events: none;
    font-size: 18px;
    color: rgb(165, 162, 162);
    font-size: 15px;
}  
.inputbox #title:focus ~ .title,input:valid ~ .title {
    color: #1366d6;
    top: 2px;
    letter-spacing: 3px;
    font-size: 12px;
}
.inputbox .fa-eye-slash{
    position: absolute;
    top: 23px;
    right: 40px;
    font-size: 13px;
    cursor: pointer;
}
.signup-content #signup button{
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s;
}
.signup-content #signup button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#signup select{
    padding: 3px 0px;
    margin-left: 25px;
    border: 1px dotted black;
    border-radius: 5px;
}
#signup .loginbtn{
    width: 50%;
    margin: 10px;
    margin-left: 70px;
    border-radius: 10px;
    text-transform: capitalize;
    transition: all 0.3s;
    cursor: pointer;
}
#signup .loginbtn:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(155, 153, 153, 0.2);
}
.signup-img h1{
    position: absolute;
    z-index: 999;
    top: 15px;
    left: 37%;
    text-shadow: 0px 0px 10px rgb(252, 248, 248);
}
h6{
    text-align: center;
    font-size: 12px;
    /* padding: 10px; */
    text-transform: capitalize;
}
.login-c h6 a{
    color: rgb(0, 156, 156);
    text-decoration: underline;
    font-size: 14px;
    padding: 0px 5px;
}
h6 a{
    color: #1366d6;
    text-decoration: underline;
    font-size: 14px;
    padding: 0px 5px;
}
.hr{
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
    margin: 10px 0px;
}

.login p {
    text-align: end;
    margin:0px 40px;
    margin-bottom: 10px;
}
.login p a{
    /* color: #1366d6; */
    color: blue;
    text-decoration:underline;
    text-transform: capitalize;
    font-size: 14px;
}

#signup p{
    text-align: end;
    margin:0px 40px;
    margin-bottom: 10px;
}
#signup p a{
    color: blue;
    text-decoration:underline;
    text-transform: capitalize;
    font-size: 14px;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


                /* FORGET PASSWORD DESIGN CSS */

.forget{

    position: absolute;
    content: "";
    width: 300px;
    height: 500px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}
.forget .box{
    width: 300px;
    border: 1px solid black;
    padding: 20px;
}
.forget .box img{
    width: 100%;
}

.forget .box .forget-profile{
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url("/img/forgot-password.avif");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(155, 153, 153, 0.2);
    margin-top: 15px;
    margin-bottom: 15px;
}
.forget .box h2{
    color: rgb(252, 183, 92);
    text-transform: capitalize;
    text-align: center;
}
.forget .box p {
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    padding: 20px 10px;
    color: rgb(114, 113, 113);
    line-height: 18px;
}
#forget{
    display: flex;
    flex-wrap:wrap;
}
#forget #email{
    width: 80%;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    border: none;
    border: 1px solid black;
}
#forget .forget-btn{
    padding: 10px 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(112, 110, 110, 0.6);
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 20px;
margin-bottom: 25px;
}

.forget .forget-box{
    border: 1px solid black;
}
.forget .forget-box h2{
    text-align: center;
    margin: 20px;
}
.forget .forget-box #reset input{
    width: 85%;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 20px;
    
    border: none;
    /* border-bottom: 2px solid black; */
    /* background-color: transparent; */
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgba(160, 158, 158, 0.2);
}
.forget .forget-box #reset label{
    text-transform: capitalize;
    margin-left: 20px;
}
.forget .forget-box #reset label span{
    color: red;
}
.forget .forget-box #reset .reset-box{
    position: relative;
}
.forget .forget-box #reset .reset-box i{
    position: absolute;
    top: 38px;
    right: 35px;
    font-size: 13px;
}
.forget .forget-box #reset #resetbtn{
    display: block;
    padding: 10px;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
}

        /* OTP PAEG DISGN */
.otpsection{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}
#otp{
    box-shadow: 0px 0px 10px rgba(155, 153, 153, 0.2);
    border-radius: 10px;
    padding: 40px;
}
#otp input{
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#otp input:focus{
    border: 3px solid rgb(180, 11, 106);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}
#otp h1{
    text-align: center;
}
#otp p{
    padding-bottom: 15px;
    text-align: center;
}
#otp #input1{
    margin-left: 20px;
}
#otp button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #1366d6;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 10px;
}
#otp button:focus{
    border: 2px solid black;
    background-color: #3788f1;
}
#otp .resend{
    padding: 10px;
}


.product .product-box #product-form{
    padding: 40px;
}
.product .product-box #product-form h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.product .product-box #product-form input{
    width: 70%;
    margin: 10px;
    padding: 10px;
}
.product .product-box #product-form #category{
    margin: 10px 0px;
}
.product .product-box #product-form .size {
    margin-top: 10px;
}
.product .product-box #product-form .size input{
    width: 15px;
    margin: 0px 1px 0px 0px;
}
.product .product-box #product-form span{
    margin: 0px 23px;
    font-size: 20px;
    font-weight: 900;   
}
.product .product-box #product-form  .Tdot{
    margin-left: 69px;
}.product .product-box #product-form  .Pdot{
    margin-left: 61px;
}.product .product-box #product-form  .Cdot{
    margin-left: 41px;
    margin-right: 31px;
}.product .product-box #product-form  .Ddot{
    margin-left: 23px;
    margin-right: 36px;
}
.product .product-box #product-form  .Idot{
    margin-right: 19px;
    margin-left: 72px;
}
.product .product-box #product-form  .Stdot{
    /* margin-right: 38px; */
    margin-left: 60px;
}
.product .product-box #product-form  .Sidot{
    margin-right: 31px;
    margin-left: 69px;
}.product .product-box #product-form  .Codot{
    margin-right: 12px;
    margin-left: 69px;
}
.product .product-box #product-form button{
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #3788f1;
    color: white;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 0px 10px #1366d6;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.product .product-box #product-form button:hover{
    background-color: #1366d6;
    color: black;
}
.texta{
    display: flex;
}
.texta textarea{
    width: 70%;
}

.user {
    border: 2px solid black;
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.user-profile{
    display: flex;
}

