<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
    <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style>
</head>
<body>

    <section>
        <div class="forget">
            <div class="box">
                <div class="forget-profile"></div>
                <h2>forgot your password?</h2>
                <p>enter your email below to receive your password reset instruction</p>
                <form action="/EmailVerify" method="post" id="forget">
                    <input type="email" id="email" name="email" placeholder="Enter A Email">
                    <input type="submit" value="Verify Email" class="forget-btn">
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>