<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget</title>
    <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style>
</head>
<body>
    <section class="forget">
        <div class="forget-box">
            <h2>reset password...</h2>
            <form action="" id="reset">
                <div class="reset-box">
                    <label for="">password <span>*</span> </label>
                    <input type="password" placeholder="New Password">
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
                <label for="">confirm password <span>*</span> </label>
                <input type="password" placeholder="Conform password">
                <button type="submit" id="resetbtn">Reset Password</button>
            </form>
        </div>
    </section>
</body>
</html>