<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("nav") %>
    <h1>home pa</h1>
</body>
<script>
    let cookie=document.cookie.split(";")
    console.log(cookie);
    if(cookie){
        console.log("no");
    }
    else{
        console.log("yes");
    }
</script>
</html>