<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style>
</head>
<body>
    <%- include("nav") %>

    <section>
        <div class="container">
            <div class="signup-box">
                <div class="row">
                    <div class="signup-content login-c">
                        <h1>Weclome to login</h1>
                        <form id="signup" class="login">
                            <div class="inputbox">
                                <input type="email" id="title" placeholder="" class="email" name="email" required>
                                <span for="" class="title">Email</span>
                            </div>
                            <div class="inputbox">
                                <input type="password" id="title" placeholder="" class="password" name="password" required>
                                <span for="" class="title">Password</span>
                                <i class="fa-solid fa-eye-slash" id="icon"></i>
                                <p><a href="/EmailVerify">forget password !</a></p>
                            </div> 
                            <input type="submit" value="submit" class="loginbtn">
                        </form>
                        <div class="hr"></div>
                        <h6>Dont't have an account?<a href="/signup">Sign up</a></h6>
                    </div>
                    <div class="signup-img">
                        <h1>E-commerce</h1>
                        <img src="/img/loginBg.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    
</body>
<script>
    const show=()=>{
        let pass=document.querySelector(".password")
        let icon=document.getElementById("icon")
        console.log(icon);
        if(pass.type==="password"){
            pass.type="text"
            icon.classList.replace("fa-eye-slash","fa-eye")

        }else{
            pass.type="password"
            icon.classList.replace("fa-eye","fa-eye-slash")
        }
    }
    document.getElementById("icon").addEventListener("click",()=>show())
    document.getElementById("signup").addEventListener("submit",(e)=>{
        e.preventDefault();
        email=document.querySelector('.email').value
        password=document.querySelector('.password').value
        console.log(email);

        fetch(`http://localhost:8090/loginCheck?email=${email}`)
        .then((res)=>{return res.json()})
        .then((data)=>{
            console.log(data);
            if (data.data) {
                if (data.data.password!==password) {
                    alert("Password Not Match !")    
                }
                else{
                    window.location.href="http://localhost:8090/"
                }
            }
            else{
                alert("User Not Found Plz Check email ! ")
                
            }
        })
    
})
</script>
</html>