<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/css/style.css);
    </style>
</head>
<body>
    <header>
       <div class="container">
        <div class="row">
            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="serach">
                <input type="search" placeholder="search">
            </div>
            <div class="headerbtn">
                <button>Signup</button>
                <button>Login</button>
            </div>
        </div>
       </div>
    </header>
</body>
</html>