<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/css/style.css);
    </style>
</head>
<body>
    <header>
       <div class="container">
        <div class="row justify-content align-items">
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
            <nav>
                <ul class="row">
                    <li><a href="/">home</a></li>
                    <li><a href="http://localhost:8090/productShow">product</a></li>
                    <li><a href="http://localhost:8090/product">product add</a></li>
                    <li><a href="">cart</a></li>
                </ul>
            </nav>
            <div class="headerbtn row">
                <button class="loginbtn"><a href="/login">login</a></button>
                <button class="signupbtn"><a href="/signup">signup</a></button>
                <a href="/profile"><div class="profile"></div></a>
            </div>
        </div>
       </div>
    </header>
</body>
<script>
    let cookie=document.cookie.split(";")[1]
    let profile=document.querySelector(".profile")
    let loginbtn=document.querySelector(".loginbtn")
    let signupbtn=document.querySelector(".signupbtn")

    console.log(profile);
    if(cookie){
        profile.classList.add('visible')
        loginbtn.classList.add("display")
        signupbtn.classList.add("display")
    }
</script>
</html>