<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <style>
        @import url(/css/style.css);
    </style>
</head>
<body>
    <section class="otpsection">
        <form action="" method="" id="otp">
            <h1>OTP Verification</h1>/
            <p>code has boon send to <span id="emailShow"></span></p>
            <input type="text" id="input1" maxlength="1" name="otp" >
            <input type="text" id="input2"  maxlength="1" name="otp">
            <input type="text" id="input3" maxlength="1" name="otp">
            <input type="text" id="input4" maxlength="1" name="otp" >
            <input type="text" id="input5" maxlength="1" name="otp" >
            <input type="text" id="input6" maxlength="1" name="otp" >
            <p class="resend">Didn't get the otp <a href="/resend">Resend</a></p>
            <button type="submit" id="otpbtn">Submit</button>
        </form>
    </section>
    <script>
        let cookie=document.cookie.split("=")[1]
        let email=document.getElementById("emailShow").innerHTML=cookie
        
        document.getElementById('otpbtn').addEventListener("click",(e)=>{
            e.preventDefault()
            let data={
                input1:document.getElementById('input1').value,
                input2:document.getElementById('input2').value,
                input3:document.getElementById('input3').value,
                input4:document.getElementById('input4').value,
                input5:document.getElementById('input5').value,
                input6:document.getElementById('input6').value,
            }
            console.log(data);
        })
    </script>
</body>
</html>