<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <style>
        @import url(/css/style.css);
    </style>
</head>
<body>
    <section class="otpsection">
        <form action="/otpVerify" method="post" id="otp">
            <h1>OTP Verification</h1>/
            <p>code has boon send to <span id="emailShow"></span></p>
            <input type="text" id="input1" maxlength="1" name="otp" >
            <input type="text" id="input2"  maxlength="1" name="otp">
            <input type="text" id="input3" maxlength="1" name="otp">
            <input type="text" id="input4" maxlength="1" name="otp" >
            <input type="text" id="input5" maxlength="1" name="otp" >
            <input type="text" id="input6" maxlength="1" name="otp" >
            <p class="resend">Didn't get the otp <span id="resend">Resend</span></p>
            <button type="submit" id="otpbtn">Submit</button>
        </form>
    </section>
    <script>

    
        let cookie=document.cookie.split("=")[1]
        let email=document.getElementById("emailShow").innerHTML=cookie
        
        let mycooki=document.cookie.split("=")[1]
        console.log(mycooki);
        let mail=""
        for(let i=0;i<mycooki.length;i++){
            if(mycooki[i]=="%"){
                break;
            }
            else{
                mail+=mycooki[i]
            }
        }
        mail+='@gmail.com'
        let show=document.getElementById("emailShow").innerHTML=`${mail}`

        document.getElementById('resend').addEventListener("click",()=>{
         fetch("http://localhost:8090/EmailVerify",{
            method:"POST",
               headers:{"content-Type":"application/json"},
               body:JSON.stringify({email:mail})          
         })
            
        })
    </script>
</body>
</html>