<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Product</title>
    <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style>
     <!-- <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style> -->
</head>
<body>
    <section>
        <div class="container">
            <div class="user">
                <!-- <div class="user-profile"></div> -->
                <div class="user-profile">
                   <div class="img-box">
                    <img src="/img/userProfile.png" alt="">
                    <form action="" id="usrIMG"  enctype="multipart/form-data">
                        <label for="userProfile" id="plus" name="img" style="cursor: pointer;" ><i class="fa-solid fa-plus" ></i></label>
                        <input type="file" id="userProfile" name="img" style="display: none;" />
                        <input type="submit" value="submit">
                    </form>
                   </div>
                </div>
                <div class="user-content">
                </div>
            </div>
        </div>
    </section>  
</body>
<script>
    document.getElementById("userProfile").addEventListener("change",(e)=>{
        e.preventDefault()
        // alert("j")
        let user=document.getElementById("userProfile").value
        console.log("user",user);
        fetch("http://localhost:8090/userprofile",{
            method:"POST",
            headers:{"content-type":"application/json"},
            body:JSON.stringify({img:user})
        })
    })
    

    const disply=(data)=>{
        let user=document.createElement("label")
        user.innerHTML="Username :"
        let username=document.createElement("h3")
        username.innerHTML=data.username

        let role=document.createElement("label")
        role.innerHTML="Role : "

        let roleName=document.createElement("h4")
        roleName.innerHTML=data.role

        let bio=document.createElement("p")
        bio.innerHTML="BIO : "
        bio.setAttribute("class","user-c")

        let div=document.createElement("div")
        div.setAttribute("class","user-c")
        div.append(user,username)

        let div2=document.createElement("div")
        div2.setAttribute("class","user-c")

        let btn=document.createElement("button")
        btn.innerHTML="Edit Profile"
        btn.setAttribute("class","editProfile")

        div2.append(role,roleName)

        document.querySelector(".user-content").append(div,div2,bio,btn)
    }

    const get=()=>{
        fetch("http://localhost:8090/userdata")
        .then((Response)=>Response.json())
        .then((data)=>disply(data))
    }
    get()
    const data=()=>{
        fetch("http://localhost:8090/AdminProduct")
        .then((Response)=>Response.json())
        .then((data)=>console.log(data))
    }
    data()
</script>
</html>