<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Product</title>
    <style>
        @import url(/css/style.css);
    </style>
     <!-- <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style> -->
</head>
<body>
    <section>
        <div class="container">
            <div class="user">
                <!-- <div class="user-profile"></div> -->
                <div class="user-profile">
                    <h1>img</h1>
                    <h2>edit</h2>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>