<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/css/all.min.css);
        @import url(/css/style.css);
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div id="singleproduct"></div>
        </div>
    </section>
    
</body>
<script>
    let id=window.location.href.split("/")[4]
    let paeg=window.location.href.split("/")[3]
    console.log(paeg);


    const cart=(id)=>{
        fetch("/cart",{
            method:"POST",
            headers : {"content-type":"application/json"},
            body : JSON.stringify({productId:id})
        })
    }

    const display=(ele)=>{
            let img=document.createElement("img")
            img.src=ele.img

            let imgDiv=document.createElement("div")
            imgDiv.append(img)
            let title=document.createElement("h1")
            title.innerHTML=ele.title

            let price=document.createElement("h3")
            price.innerHTML=`Price : ₹ ${ele.price}`

            let label=document.createElement("label")
            label.setAttribute("class","description")
            label.innerHTML="description"

            let desc=document.createElement("p")
            desc.setAttribute("class","desc")
            desc.innerHTML=ele.desc

            let stockdiv=document.createElement("div")
            stockdiv.setAttribute("class","stockdiv")

            let stocklabel=document.createElement("label")
            stocklabel.setAttribute("class","stock")
            stocklabel.innerHTML="stock : "

            let stock=document.createElement("h4")
            stock.innerHTML=ele.stock
            stockdiv.append(stocklabel,stock)

            let sizediv=document.createElement("div")
            sizediv.setAttribute("class","sizediv")

            let sizelabel=document.createElement("label")
            sizelabel.setAttribute("class","sizelabel")
            sizelabel.innerHTML="size : "
            let s=document.createElement("p")
            s.setAttribute("class","size")
            s.innerHTML=ele.size

            let inputSize=document.createElement("input")

            let inputData=document.createElement("div")
            inputData.setAttribute("class","inputData")
            sizediv.append(sizelabel,s,inputSize)

            let categorydiv=document.createElement("div")
            categorydiv.setAttribute("class","categorydiv")

            let categorylabel=document.createElement("label")
            categorylabel.setAttribute("class","categorylabel")
            categorylabel.innerHTML="category : "

            
            let category=document.createElement("p")
            category.innerHTML=ele.category
            categorydiv.append(categorylabel,category)

            let colordiv=document.createElement("div")
            colordiv.setAttribute("class","colordiv")

            let colorlabel=document.createElement("label")
            colorlabel.setAttribute("class","colorlabel")
            colorlabel.innerHTML="Color : "

            let color=document.createElement("h6")
            color.innerHTML=ele.color
            color.setAttribute("class","color")

            colordiv.append(colorlabel,color)
            let btn=document.createElement("button")
            btn.innerHTML="Add To Cart"
            btn.addEventListener("click",()=>{
                cart(ele._id)
            })

            let div=document.createElement("div")
            div.setAttribute("class","Product-div")
            let contentDiv=document.createElement("div")
            contentDiv.setAttribute("class","contentDiv")
            contentDiv.append(title,price,label,desc,stockdiv,sizediv,categorydiv,colordiv,btn)
            div.append(imgDiv,contentDiv)
            document.getElementById("singleproduct").append(div)
    }

    fetch(`http://localhost:8090/SingleData/${id}`)
    .then((res)=>res.json())
    .then((data)=>display(data))
</script>
</html>